<header>
  <div class="container">
    <a routerLink="/" class="logo">CoolApp</a>
    <!-- <span *ngIF="madeUpdate"> Updates have been made on the aPP</span> -->
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/fixtures">Fixtures</a></li>
        <li><a href="#" >New Change 1</a></li>
         <!-- <a ng-click="check()"> </a> -->
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>